{% extends 'base.html' %}
{% load static %}

{% block content %}

{% include "_modal.html" %}

<nav class="nav-extended white">
  <a class="navbar-brand" href="#">
    <img src="{%static 'img/zetechlogo.png'%}"  width="370" height="120" class="d-inline-block align-top" alt="logo">
  </a>
</nav>
<h4>Media Monitoring</h4>

<div class="modal fade" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

    </div>
  </div>
</div>

<!-- Create review button -->
<button class="create-review btn btn-primary" type="button" name="button">Write Review</button>

<button id='form'><h5><a href='newreview'>Write Review</a></h5></button>

<div class="col-12 mb-3">
    <button class="create-review btn btn-primary" type="button" name="button">
    <span class="fa fa-plus mr-2"></span>Write Review</button>
</div>

      <div class="col-12 mb-3">
          {% if books %}
            <table class="table">
              <thead>
                <tr>
                  <th class="text-center" scope="col">#</th>
                  <th class="text-center" scope="col">Title</th>
                  <th class="text-center" scope="col">Author</th>
                  <th class="text-center" scope="col">Type</th>
                  <th class="text-center" scope="col">Publication date</th>
                  <th class="text-center" scope="col">Pages</th>
                  <th class="text-center" scope="col">Price (€)</th>
                  <th class="text-center" scope="col">Read / Update / Delete</th>
                </tr>
              </thead>
              <tbody>
                {% for book in books %}
                  <tr>
                    <th class="text-center" scope="row">{{ forloop.counter }}</th>
                    <td class="text-center">{{ book.title }}</td>
                    <td class="text-center">{{ book.author }}</td>
                    <td class="text-center">{{ book.get_book_type_display }}</td>
                    <td class="text-center">{{ book.publication_date }}</td>
                    <td class="text-center">{{ book.pages }}</td>
                    <td class="text-center">{{ book.price }}</td>
                    <td class="text-center">
                      <button type="button" class="read-review btn btn-sm btn-primary" data-id="{% url 'read_review' review.pk %}">
                        <span class="fa fa-eye"></span>
                      </button>
                      <button type="button" class="update-review btn btn-sm btn-primary" data-id="{% url 'update_review' review.pk %}">
                        <span class="fa fa-pencil"></span>
                      </button>
                      <button type="button" class="delete-review btn btn-sm btn-danger" data-id="{% url 'delete_review' review.pk %}">
                        <span class="fa fa-trash"></span>
                      </button>
                      <!--<button type="button" class="delete-book btn btn-sm btn-danger" data-toggle="modal" data-target="#modal" data-id="{% url 'delete_book' book.pk %}"> <span class="fa fa-trash" aria-label="Delete"></span> </button>-->
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          {% else %}
            <p class="no-reviews text-primary">No reviews added yet.</p>
          {% endif %}
        </div>

<script type="text/javascript">
    $(document).ready(function() {
        $(".create-review").modalForm({
            formURL: "{% url 'create_review' %}"
        });
    });
</script>

{% block extrascripts %}
  <script type="text/javascript">
    $(function () {
      // Create book button
      $(".create-review").modalForm({formURL: "{% url 'create_review' %}"});

      // Update book buttons
      $(".update-review").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
      });

      // Read book buttons
      $(".read-review").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
      });

      // Delete book buttons
      $(".delete-review").each(function () {
        $(this).modalForm({formURL: $(this).data('id')});
      })

      // Hide message
      $(".alert").fadeTo(2000, 500).slideUp(500, function(){
        $(".alert").slideUp(500);
      });

    });
  </script>
{% endblock extrascripts %}




<!-- <div class="modal fade" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

    </div>
  </div>
</div>

<!- Create book button -->
<!-- <button class="create-book btn btn-success" type="button" name="button">Create Review</button> -->
{% endblock %}
